<h2>Show group</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @group.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @group.description %>
  </li>

  <li>
    <strong>Mailing list email:</strong>
    <%= @group.mailing_list_email %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @group.user_id %>
  </li>

</ul>

<%= link "Edit", to: group_path(@conn, :edit, @group) %>
<%= link "Back", to: group_path(@conn, :index) %>
